.primary-nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 1em;
    padding-top: 1em;

    @mixin atMedium {
      padding-top: 0;
    }
  }

  &__link {
    text-decoration: none;

    color: #fff;
    font-weight: 300;
    padding: 0.25em 0.5em;
    background-color: rgba(47, 85, 114, 0.55);

    @mixin atMedium {
      background-color: transparent;
      paddin: 1em 0;

      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
