.primary-nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 1em;
  }

  &__link {
    text-decoration: none;

    color: #fff;
    font-weight: 300;
  }
}
